@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,:root{
  background-color: #eee9df;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu-large {
  left: 50%;
 }

 .dropdown:hover .dropdown-menu-large {
  display: block;
  transform: translateX(-50%);
}

/*mobile navbars*/

.heading{
font-weight: 900;
font-size: 110px;
line-height: 100%;
letter-spacing: 0.02em;
text-align: center;
color: #2d2323;


}